/*Admin CSS*/

*{
	background: #1E262C;
	color: white;
}
body{
	background-color: #1E262C;
}
#box{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #1E262C;
	justify-content: center;
	align-items: stretch;
	margin-top: 7em;
	margin-bottom: 1em;
}
#Users{
	flex: 0 1 auto;
	border: white 1px solid;
	width: fit-content;
	background: #710627;
}
#Users *{
	background: #710627;
}
#Users h2{
	background: #521C25;
	border-bottom: white solid 1px;
	padding: 1em;
}
#Products{
	flex: 0 1 auto;
	border: white 1px solid;
	background: #710627;
	width: fit-content;
}
#Products *{
	background: #710627;
}
#Products h2{
	background: #521C25;
	border-bottom: white solid 1px;
	padding: 1em;
}
#Orders{
	flex: 0 1 auto;
	border: white 1px solid;
	width: fit-content;
	background: #710627;

}
#Orders *{
	background: #710627;

}
#Orders h2{
	background: #521C25;
	border-bottom: white solid 1px;
	padding: 1em;
}
#box input.search{
	background: white;
	color: black;
	display: block;
}
#box p{
	padding: 0.1em;
}
.catagories{
	padding: 1em;
}
form input.box{
	background-color: white;
	color: black;
}
