#flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#container {
  width: 60%;
  margin-bottom: 2em;
}
#shoppingcart {
  padding: .5em;
  width: 100%;
  margin-top:0em;
  margin-right: 2em;
  max-height: 30em;
  overflow: auto;
}
.items {
  background-color: #710627;
  margin-top: 1em;
  padding: 1em;
  border: solid 1px white;
}

.image {
  max-width: 100px;
  max-height: 100px;
  float: left;
  margin-right: 1em;
}
.productinfo {
  overflow: hidden;
  margin-left: 1em;
}

#summary {
  padding: .5em;
  width: 30%;
  margin-top: 2em;
  margin-left: 2em;
}

#totals {
  padding: 1em;
  width: auto;
  margin-top: 1em;
  background-color: #710627;
  height: 200px;
  border: solid 1px white;
}

.button {
  padding: 1em;
  background-color: #1E262C;
  font-size: 90%;
  color: white;
  border: none;
  bottom: 0px;
}

.addCart{
	background: white;
	color: black;
	padding: 0.5em;
	margin-top: 0.5em;
	border: solid black 1px;
}
.addCart:hover{
	background: #521C25;
	color: white;
	border: white 1px solid;
}

#quantityInput {
  color: black;
}

#desc {
  font-size: 80%;
}
h2 {
  font-size: 200%;
  border-bottom: solid 3px #710627;
}
#title2{
  margin-top: 1.25em;
}

#total {
  font-size: 100%;
  padding: .25em;
}


p {
  font-size: 110%;
  padding: .25em;
  }
body {
  font-family: Arial, Helvetica, "Times New Roman";
  background-color: #1E262C;
  color: white;
}
