#flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#container {
  width: 60%;
  margin-bottom: 4em;
}
#shoppingcart {
  padding: .5em;
  width: 100%;
  height: 400px;
  margin-top:2em;
  margin-right: 2em;
}
.items {
  background-color: #710627;
  margin-top: 1em;
  padding: 1em;
  height: 200px;
  border: solid 1px white;
}

.image {
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 1em;
}
.productinfo {
  overflow: hidden;
  margin-left: 1em;
}

#summary {
  padding: .5em;
  width: 30%;
  margin-top: 2em;
  margin-left: 2em;
}

#totals {
  padding: 1em;
  width: auto;
  margin-top: 1em;
  background-color: #710627;
  height: 200px;
  border: solid 1px white;
}

.button {
  padding: 1em;
  background-color: #1E262C;
  font-size: 90%;
  color: white;
  border: none;
  bottom: 0px;
}

h1 {
  font-size: 200%;
  border-bottom: solid 3px #710627;

}
h2 { font-size: 150%;
text-align: center;}
h3 {
  font-size: 100%;
  padding: .25em;
}

a {
  text-decoration: none;
}
p {
  font-size: 110%;
  padding: .25em;
  }
body {
  font-family: Arial, Helvetica, "Times New Roman";
  background-color: #1E262C;
  color: white;
}
