/*Product CSS*/
*{
	background: #1E262C;
	color: white;
}
main{
	display: flex;
	flex-direction: row;
}
#product-sidebar{
	border: white 1px solid;
	margin: 1em;
	height: 100%;
	width: 15%;
	background: #710627;
	min-width: fit-content;
}
#productSidebarOptions{
	padding-bottom: 1em;
}
#product-sidebar *{
	background: #710627;
}
#product-sidebar h3{
	font-size: 125%;
	padding-bottom: 1em;
	text-shadow: -1px 0 #710627, 0 1px #710627, 1px 0 #710627, 0 -1px #710627;
	background: #521C25;
	padding: 1em;
	border-bottom: white 1px solid;
	border-top: white 1px solid;
}
#productSidebarOptions h4:hover, #productSidebarOptions p:hover{
	text-decoration: underline;
}
#product-sidebar h4{
	font-size: 115%;
	padding-top: 0.5em;
	background: #710627;
	padding-left: 1em;
	padding-right: 1em;
}
#product-sidebar p{
	background: #710627;
	padding-left: 1em;
	padding-right: 1em;
}

#contentRight{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
#sortButton{
	background: #521C25;
	padding-right: 1em;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin: 1em;
	border: white 1px solid;
	width: fit-content;
	cursor: pointer;
}
/*#sortType{
	background-color: #710627;
	position: absolute;
	left: 14.5em;
	top: 13em;
	display: inline;
	border: white 1px solid;
}*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
#box{
	display: flex;
	flex-direction: rows;
	flex-wrap: wrap;
	font-size: 75%;
}
.productBox *{
	background: #710627;
}
.productBox{
	background: #710627;
	padding: 1em;
	margin: 1em;
	border: white solid 1px;
	width: 10em;
}
.productBox p{
	padding-top: 0.5em;
}
.productBox img{
	 width: 10em;
	 height: 13em;
	 border: white solid 1px;
}
.addCart{
	background: white;
	color: black;
	padding: 0.5em;
	margin-top: 0.5em;
	border: solid black 1px;
}
.addCart:hover{
	background: #521C25;
	color: white;
	border: white 1px solid;
}
