body{
  background-color: #36454f;
}
form{
  font-family: Arial, Helvetica, "Times New Roman";
  color: #36454f;
  margin: 3em auto 3em auto;
  width: 60%;
  border: 4px solid white;
  background-color: #710627;
}

legend {
  background-color: #521C25;
  border-bottom: 4px solid white;
  width: 100%;
  padding: 0.5em;
  color:white;
  text-align: center;
  font-weight: bold;
  font-size: 125%;
}
fieldset {
  padding:.5em;
  padding-top: 0;
  margin:0;
  border: 0px;
}
form div{
  margin-top: .75em;
  font-weight: bold;
}
div label {
  clear: both;
}

.centered{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  clear: both;
}
input.box{
  float: right;
  width: 55%;
  border:2px solid #36454f;
  background-color: white;
  color: #36454f;
}
input.button{
  background-color: #521C25;
  color:white;
  padding: .25em;
  border: 1px solid white;
}
#eInput, #pInput{ width: 75%;}

.invalid{
  background-color: red;
  float: right;
  width: 55%;
  border:1px solid #521C25;
}
.invalid2{
  background-color: red;
  float: right;
  width: 55%;
  border:1px solid #521C25;
}
.notes{
  font-size: 50%;
  clear:both;
}
