/*home body css*/
*{
	background: #36454f;
	color: white;
}
li:hover, a:hover{
	background: #014bc1;
}
a {
	text-decoration: none;
}
#about{
	float: left;
	padding: 1em;
	width: 80%
}
#about h2{
	font-size: 150%;
}
#about img{
	width: 100%;
}
/*product side bar*/
#product-sidebar{
	float: right;
	padding: 1em;
	border: white 1px solid;
	margin: 1em;
	height: 100%;
	width: 10%;
}
#product-sidebar h3{
	font-size: 125%;
	padding-bottom: 1em;
}
#product-sidebar h4{
	font-size: 115%;
	padding-top: 0.5em;
}