body {
  background-color: #1E262C;
}

#productbox {
    background-color: #710627;
    border: solid 1px white;
    color: white;
    width: 60%;
    margin: 2em;
    padding: 1em;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.image {
  height: 200px;
  width: 200px;
  float: left;
  margin-right: 1em;
}

#productinfo {
  overflow: auto
  padding: 1em;
  height: inherit;
}

h1, p {
  padding: .5em;
}

.button {
  padding: 1em;
  background-color: #1E262C;
  font-size: 90%;
  color: white;
  border: none;
}
